<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.certis" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <!-- 메인 액티비티 -->
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 추가 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LinkActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LinkWriteActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
